body {
    color: #fff;
    background-color: #262931;
    min-width: 1000px;
    min-height: 600px;
    margin: 0;
    padding: 0;
    font-family: microsoft yahei, sans-serif;
    font-size: 14px;
    overflow: hidden;
}

a {
    color: #fff;
    text-decoration: none;
}

.tophead {
    background-color: #383b44;
    width: 100%;
    height: 50px;
}

.tophead .logo{
    float: left;
    padding-top: 9px;
    padding-left: 10px;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 700;
}

.tophead .topzsc {
    float: left;
}

.tophead .topzs {
    margin-left: 100px;
    font-size: 12px;
    font-weight: 700;
}

.tophead .topzs .item {
    text-align: center;
    margin: 0 10px;
    display: inline-block;
}

.tophead .topzs .item div {
    font-weight: 400;
}

.price_up {
    color: #ff1c1c;
}

.tophead .fullscreen {
    display: flex;
    align-items: center;
    gap: 20px; /* 图片与文字之间的间距 */
    float: right;
    margin-top: 15px;
    margin-right: 20px;
}

.tophead .fullscreen .currenttime {
    font-size: 14px;
    font-weight: 700;
}

.tophead .fullscreen a.fullscreen-btn {
    background: url(../img/fullscreen_icon.png) 0 0 / 20px 20px no-repeat;
    height: 20px;
    padding-left: 25px;
    display: inline-block;
}

.leftbar {
    scrollbar-width: thin;
    scrollbar-color: #9e9e9e transparent;
    width: 140px;
    height: calc(100vh - 70px);
    padding: 10px 0 0 10px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
}

.charttype {
    background-color: #3f414b;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
}

ul {
    margin: 0;
    padding: 0;
}

.charttype .on {
    background-color: #585a64;
    font-weight: 700;
}

.charttype li {
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 10px;
    list-style: none;
}

.colortype, .boxtype {
    margin-top: 10px;
}

.colortype .title, .boxtype .title {
    color: #bbb;
    margin-bottom: 3px;
    font-size: 12px;
}

.colortype select, .boxtype select {
    color: #fff;
    background: #3f414b;
    border: 1px solid #999;
    border-radius: 2px;
    width: 100%;
    padding: 2px 3px 2px 5px;
}

.quotezdnumbs {
    margin-top: 10px;
}

.quotezdnumbs .zdnums, .quotezdnumbs .cjec {
    display: flex;
    justify-content: space-between;
}

.quotezdnumbs .zdnums>span, .quotezdnumbs .cjec>span {
    flex: 1;
    text-align: center;
}

.price_down {
    color: #00c345;
}

.quotezdnumbs .cjec {
    margin-top: 5px;
}

.mainchart {
    height: calc(100vh - 80px);
    margin-left: 160px;
    position: relative;
}

.chartbottom .cbl {
    float: left;
}

.fpbtns {
    margin-left: 160px;
}

.fpbtns ul li {
    text-align: center;
    width: 38px;
    height: 22px;
    margin: 0 1px;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
      background-color:  #ff9626;
}

.fpbtns ul li:active {
    background-color: #3c7eff;
}

.chartbottom .cbr {
    float: right;
    margin-right: 5px;
}

.chartcolortip ul li {
    text-align: center;
    width: 38px;
    height: 22px;
    margin: 0 1px;
    font-size: 12px;
    line-height: 22px;
    display: inline-block;
}

.chartcolortip .c1 li:first-child {
    background-color: #00d641;
}

.chartcolortip .c1 li:nth-child(2) {
    background-color: #1aa448;
}

.chartcolortip .c1 li:nth-child(3) {
    background-color: #0e6f2f;
}

.chartcolortip .c1 li:nth-child(4) {
    background-color: #085421;
}

.chartcolortip .c1 li:nth-child(5) {
    background-color: #424453;
}

.chartcolortip .c1 li:nth-child(6) {
    background-color: #6d1414;
}

.chartcolortip .c1 li:nth-child(7) {
    background-color: #961010;
}

.chartcolortip .c1 li:nth-child(8) {
    background-color: #be0808;
}

.chartcolortip .c1 li:nth-child(9) {
    background-color: #e41414;
}

.mainchart #chartd {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
